@use './partials/variables' as *;

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  background-color: $primary-color;
}

img{
  max-width: 100%;
}

.container{
  width: 60%;
  margin: 0 auto;
}